.menu {
    width: 100%;
    padding: 20px;
    border-bottom:1.5px solid $grey;
  
  &__logo {
    font-family: $roboto;
    font-size: $medium;
    font-weight: $light;
    text-transform: uppercase;
    margin-top: -5px;
  }

}
  .navbar {
    position: absolute;
    right: 2%;
    top: -1%;
  
  
  &__list {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $roboto;
    font-size: $x-small;
    color: $black;
    border-radius: 5px;
    padding: 0.5rem;

  & .input-menu {
    list-style: none;
    font-family: $roboto;
    font-size: $x-small;
    padding-left: 1rem;
    border: 2px solid $grey;
    border-radius: 50px;
  }
 }
}
  
  .navbar__list:hover > :not(input) {
    background-color: $black;
    color: $white;
    transition: ease-in-out 0.5s;
  }
  
  @media (max-width: $max-mobile) {
    .navbar {
      width: 50%;
  
      &__list {
        width: 25%;
      }
    }
    .navbar__list {
      font-size:0.8rem;
    }
    .input-menu {
      margin-left: 2rem;
      width: 8rem;
      font-size: 0.8rem;
    }
    .navbar__list:first-child {
      display: none;
    }
  }
  